</div>
</div>
</div>
</div>
<footer class="m-grid__item m-footer">
    <div class="m-container m-container--responsive m-container--xxl">
      <div class="m-footer__wrapper">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop" style="height: 20px">
          <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last"> <span
              class="m-footer__copyright"> 2019 © FPT Information System</span></div>
          <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
            <ul class="m-footer__nav m-nav m-nav--skin-dark m-nav--inline m--pull-right">
              <li class="m-nav__item"> <a href="#" class="m-nav__link"> <span class="m-nav__link-text"> Trang chủ
                  </span> </a></li>
              <li class="m-nav__item"> <a href="#" class="m-nav__link"> <span class="m-nav__link-text"> Hướng dẫn
                  </span> </a></li>
              <li class="m-nav__item"> <a href="#" class="m-nav__link"> <span class="m-nav__link-text"> Liên hệ
                  </span> </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500"
  data-scroll-speed="300"> <i class="la la-arrow-up"></i></div>
<script src="js/vendors.bundle.js" type="text/javascript"></script>
<script src="js/scripts.bundle.js" type="text/javascript"></script>
<script src="js/dashboard.js" type="text/javascript"></script>
  
  <toaster-container
  toaster-options="{'time-out': 5000,'preventDuplicates': 'true','position-class': 'toast-bottom-right','close-button': true,}">
</toaster-container>

</body>

</html>