<%- include top %>
<div class="m-portlet m-portlet--full-height" ng-controller="deviceController">
    <div class="m-portlet__head">
        <div class="row">
            <div class="col-md-2" style="padding-top: 15px;">
                <a class="btn btn-info" href="javascript:void(0)" style="background-color: rgba(255,255,255,0.1);
                        border-color: rgba(255,255,255,0.1);color:#444444"><B>DEVICES</B> (Tổng số: {{totalItems}})
                </a>
            </div>
            <div class="col-md-6 text-left" style="padding-top: 15px;">
                <input type="text" ng-model="formData.text" ng-change="search()" class="form-control"
                    placeholder="Tìm kiếm: Nhập từ khóa tìm kiếm Ip, Phone, Emei">
            </div>
            <div class="col-md-4 text-right" style="padding-top: 15px;">
                <a class="btn btn-success" href="javascript:void(0);" onclick="$('#tabtaomoi').click();"
                    ng-click="add()"> Tạo mới </a>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div ng-tabs class="tabbable">
            <div class="control-group" style="display:none">
                <button class="btn btn-danger" ng-click="tabs.index = 1">Select first tab</button>
                <button class="btn btn-warning" ng-click="tabs.index = 2">Select second tab</button>
            </div>
            <div class="control-group" style="display:none">
                <button class="btn btn-primary" ng-click="tabs.index = tabs.index - 1"
                    ng-disabled="tabs.index == 1">Prev tab</button>
                <button class="btn btn-primary" ng-click="tabs.index = tabs.index + 1"
                    ng-disabled="tabs.index == tabs.count">Next tab</button>
            </div>
            <ul class="nav nav-tabs" style="display:none">
                <li ng-tab-head="active">
                    <a href="#" ng-click="$event.preventDefault()">List</a>
                </li>
                <li ng-tab-head>
                    <a href="#" ng-click="$event.preventDefault()">Detail</a>
                </li>
                <li id="tabtaomoi" ng-tab-head>
                    <a href="#" ng-click="$event.preventDefault()">Add/Update</a>
                </li>
            </ul>
            <div class="tab-content" style="overflow: hidden">
                <div ng-tab-body="animated bounceInLeft" class="tab-pane">
                    <div class="alert alert-info">
                        Cấu hính nâng cao là tính năng được thiết kế riêng
                        cho nhân viên kỹ thuật FPT IS có chuyên môn sâu về ATMG dùng để kiểm tra hệ thống nên một số
                        tính năng
                        sẽ bị khóa đối với người sử dụng.
                    </div>
                    <div class="alert alert-info" style="background-color: rgba(83,176,248,0.02);">
                        <div id="table-result" class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="black-muted-bg">
                                        <th class="text-center">STT
                                        </th>
                                        <th>ID
                                        </th>
                                        <th>IP
                                        </th>
                                        <th>Phone Number
                                        </th>
                                        <th>Địa chỉ
                                        </th>
                                        <th>IMEI
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="item in ketquas | itemsPerPage:10" total-items="totalItems">
                                        <td align="center"> {{ $index + 1 + (page-1)*10}} </td>
                                        <td align="left"><b>{{item._id}}</b> </td>
                                        <td align="left">{{item.ip}}</td>
                                        <td align="left">{{item.phone}}</td>
                                        <td align="left">{{item.address}} </td>
                                        <td align="left">{{item.imei}} </td>
                                        <td align="center"><a href="javascript:void(0);"
                                                ng-click="tabs.index = 2; detail(item._id);"><i
                                                    class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <dir-pagination-controls class="text-center" on-page-change="pageChanged(newPageNumber)"
                        template-url="/html/dirPagination.html"></dir-pagination-controls>
                </div>
                <div ng-tab-body="animated fadeInUpBig" class="tab-pane">
                    <div class="alert alert-danger col-sm-12"
                        style="background:rgba(255,102,30,0.6); border-color: rgba(255,102,30,0.5);">Thông tin chi tiết
                        devices ip
                        {{ketqua[0].ip}}</div>
                    <div class="Invoice">
                        <div class="Header">
                            <div class="Company_name">
                                <h3>IP: {{ketqua[0].ip}}</h3>
                            </div>
                            <div class="Invoice_name">
                                <h2>Phone: {{ketqua[0].phone}}</h2>
                            </div>
                            <div class="Invoice_info">
                                <h3>EMEI: {{ketqua[0].imei}}</h3>
                            </div>
                        </div>
                        <div class="Content">
                            <table style="width:100%; color:#000; font-size: 13px">
                                <tr style="height:30px; color:#000;">
                                    <td colspan="2">
                                        Gateway Info:<b> {{ketqua[0].gateway}}</b>, Response time:
                                        <b>{{ketqua[0].responsetime}}</b>
                                    </td>
                                    <td style="padding-left:150px; border-left:hidden; text-align: right" colspan="5">
                                        Port GW Connect: <b>{{ketqua[0].port}}</b></td>
                                </tr>
                                <tr style="height:30px; color:#000;">
                                    <td colspan="2">
                                        IP Gateway 4G:<b> {{ketqua[0].gateway4G}}</b>
                                    </td>
                                    <td style="padding-left:150px; border-left:hidden; text-align: right" colspan="5">
                                        Port GW 4G: <b>{{ketqua[0].port4G}}</b></td>
                                </tr>
                                <tr style="height:30px; color:#000;">
                                    <td colspan="2">
                                        Địa chỉ:<b> {{ketqua[0].address}}</b>
                                    </td>
                                    <td style="padding-left:150px; border-left:hidden; text-align: right" colspan="5">
                                        </b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="alert alert-info">
                        DEVICES INFO
                        <div class="Invoice">
                            <div class="Content">
                                <table style="width:100%; color:#000; font-size: 13px">
                                    <tr style="height:20px;color:#000;">
                                        <td colspan="2">
                                            FSLIM status
                                        </td>
                                        <td style="padding-left:150px; border-left:hidden; text-align: right"
                                            colspan="5"><b>NORMAL</b></td>
                                    </tr>
                                    <tr style="height:20px;color:#000;">
                                        <td colspan="2">
                                            Event
                                        </td>
                                        <td style="padding-left:150px; border-left:hidden; text-align: right"
                                            colspan="5"><b>adfads</b></td>
                                    </tr>
                                    <tr style="height:20px;color:#000;">
                                        <td colspan="2">
                                            Primary Power status
                                        </td>
                                        <td style="padding-left:150px; border-left:hidden; text-align: right"
                                            colspan="5"><b>adfads</b></td>
                                    </tr>
                                    <tr style="height:20px;color:#000;">
                                        <td colspan="2">
                                            Second Power status
                                        </td>
                                        <td style="padding-left:150px; border-left:hidden; text-align: right"
                                            colspan="5"><b>LV 2</b></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info">
                        GSM/LTE INFO
                        <div class="Invoice">
                            <div class="Content">
                                <table style="width:100%; color:#000; font-size: 13px">
                                    <tr style="height:20px;color:#000;">
                                        <td colspan="2">
                                            Status
                                        </td>
                                        <td style="padding-left:150px; border-left:hidden; text-align: right"
                                            colspan="5"><b>NORMAL</b></td>
                                    </tr>
                                    <tr style="height:20px;color:#000;">
                                        <td colspan="2">
                                            Signal
                                        </td>
                                        <td style="padding-left:150px; border-left:hidden; text-align: right"
                                            colspan="5"><b>100</b></td>
                                    </tr>
                                    <tr style="height:20px;color:#000;">
                                        <td colspan="2">
                                            Cell Band
                                        </td>
                                        <td style="padding-left:150px; border-left:hidden; text-align: right"
                                            colspan="5"><b>100</b></td>
                                    </tr>
                                    <tr style="height:20px;color:#000;">
                                        <td colspan="2">
                                            Primary Power status
                                        </td>
                                        <td style="padding-left:150px; border-left:hidden; text-align: right"
                                            colspan="5"><b>AS 2</b></td>
                                    </tr>
                                    <tr style="height:20px;color:#000;">
                                        <td colspan="2">
                                            Second Power status
                                        </td>
                                        <td style="padding-left:150px; border-left:hidden; text-align: right"
                                            colspan="5"><b>AS 2</b></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info">
                        SENSOR INFO
                    </div>
                    <div class="alert alert-info">
                        LOGS INFO
                    </div>
                    <div class="form-group text-center">
                        <div>

                            <button type="submit" class="btn btn-success"
                                ng-click="biding(ketqua[0]);tabs.index = 3">Sửa</button>
                            <input type="button" value="Xóa" ng-click="delete(ketqua[0]);tabs.index = 1"
                                class="btn btn-primary create-crud" />
                            <input type="button" id="comeback" value="Trở về" ng-click="tabs.index = 1"
                                class="btn btn-danger" />
                        </div>
                    </div>
                </div>
                <div ng-tab-body="animated bounceInLeft" class="tab-pane">
                    <div class="alert alert-info" style=" line-height: 24px; background-color: rgba(83,176,248,0.4); border-color: rgba(83,176,248,0.4);">
                        Xem thêm tài liệu hướng dẫn sử dụng.
                    </div>
                    <div class="alert alert-info" style="   line-height: 24px;">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <p>IP
                                    </p>
                                    <input id="ip" type="text"
                                        class="form-control ng-dirty ng-valid-parse ng-touched ng-empty ng-invalid ng-invalid-required"
                                        name="ip" ng-model="formData.ip" required focus style="font-weight:bold">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <p>Phone Number
                                    </p>
                                    <input id="phone" type="text"
                                        class="form-control ng-dirty ng-valid-parse ng-touched ng-empty ng-invalid ng-invalid-required"
                                        name="phone" ng-model="formData.phone" required focus style="font-weight:bold">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <p>IMEI</p>
                                    <input id="imei" type="text"
                                        class="form-control ng-dirty ng-valid-parse ng-touched ng-empty ng-invalid ng-invalid-required"
                                        name="imei" ng-model="formData.imei" required focus>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <p>Gateway
                                    </p>
                                    <input id="gateway" type="text"
                                        class="form-control ng-dirty ng-valid-parse ng-touched ng-empty ng-invalid ng-invalid-required"
                                        name="gateway" ng-model="formData.gateway" required focus
                                        style="font-weight:bold">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <p>Port
                                    </p>
                                    <input id="port" type="number"
                                        class="form-control ng-dirty ng-valid-parse ng-touched ng-empty ng-invalid ng-invalid-required"
                                        name="port" ng-model="formData.port" required focus style="font-weight:bold">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <p>Response time</p>
                                    <input id="responsetime" type="number"
                                        class="form-control ng-dirty ng-valid-parse ng-touched ng-empty ng-invalid ng-invalid-required"
                                        name="responsetime" ng-model="formData.responsetime" required focus>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <p>Gateway 4G
                                    </p>
                                    <input id="gateway4G" type="text"
                                        class="form-control ng-dirty ng-valid-parse ng-touched ng-empty ng-invalid ng-invalid-required"
                                        name="gateway4G" ng-model="formData.gateway4G" required focus
                                        style="font-weight:bold">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <p>Port 4G
                                    </p>
                                    <input id="port4G" type="number"
                                        class="form-control ng-dirty ng-valid-parse ng-touched ng-empty ng-invalid ng-invalid-required"
                                        name="port4G" ng-model="formData.port4G" required focus
                                        style="font-weight:bold">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <p>Address</p>
                                    <input id="address" type="text"
                                        class="form-control ng-dirty ng-valid-parse ng-touched ng-empty ng-invalid ng-invalid-required"
                                        name="address" ng-model="formData.address" required focus>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div>
                            <button type="submit" class="btn btn-success" ng-click="save()"
                                ng-disabled="!formData.address || !formData.port4G || !formData.gateway4G || !formData.responsetime
                                    || !formData.port || !formData.gateway || !formData.imei || !formData.phone || !formData.ip">Lưu</button>
                            <input type="button" id="comeback" value="Trở về" ng-click="tabs.index = 1"
                                class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<%- include bottom %>