<%- include top %>

<DIV class="row align-items-center justify-content-center" ng-controller="dangnhapController">
    <div class="col-xl-6">
        <div class="m-portlet m-portlet--full-height ng-scope">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text"> ĐĂNG NHẬP</h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div style="padding-top: 20px">
                    <fieldset>
                        <div class="alert alert-danger col-sm-12"
                            style="background:rgba(245,95,120,0.5); border-color: rgba(245,95,120,0.5); display: none">
                            Vui lòng nhập tên đăng nhập và mật khẩu</div>
                        <div class="form-group">
                            <label for="sohoadon">Tài khoản</label>
                            <input id="login-username" type="text" class="form-control" name="user_name"
                                ng-model="formData.user" required focus>
                        </div>
                        <div class="form-group">
                            <label for="masothue">Mật khẩu</label>
                            <input id="login-password" type="password" class="form-control" name="password"
                                ng-model="formData.pass" required focus>
                        </div>
                        <div class="row align-items-center justify-content-center" style="padding-top: 10px">
                            <button id="btn-login" type="submit" class="btn btn-success"
                                ng-disabled="!formData.user && !formData.pass" ng-click="dangnhap()">Đăng nhập </button>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 control">

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</DIV>


<%- include bottom %>