
<html ng-app="app.todos"
class="wf-montserrat-n3-active wf-montserrat-n4-active wf-montserrat-n5-active wf-montserrat-n6-active wf-montserrat-n7-active wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n5-active wf-roboto-n6-active wf-roboto-n7-active wf-active ng-scope">

<head>
<meta charset="utf-8" />
<title> FPT ATM Guard </title>
<meta name="description" content="Latest updates and statistic charts">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--load cdn-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.1/css/xeditable.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.1/js/xeditable.min.js"></script>

<!--load app style-->
<script src="js/webfontloader.js"></script>
<script>WebFont.load({ google: { "families": ["Montserrat:300,400,500,600,700", "Roboto:300,400,500,600,700"] }, active: function () { sessionStorage.fonts = true; } });</script>
<link href="css/style.bundle.css" rel="stylesheet" type="text/css" />
<link href="css/vendors.bundle.css" rel="stylesheet" type="text/css" />
<script src="js/toaster.min.js"></script>
<link rel="stylesheet" href="css/toaster.min.css">
<link rel="stylesheet" href="css/custome.css" />

<!--tab-->
<link rel="stylesheet" href="css/animate.min.css" />
<link rel="stylesheet" href="css/angular.css" />
<script src="js/tabs.js"></script>

<!--page-->
<script src="js/dirPagination.js"></script>

<!--upload-->
<script src="upload_files/es5-shim.min.js"></script>
<script src="upload_files/es5-sham.min.js"></script>
<script src="upload_files/console-sham.js"></script>
<script src="upload_files/angular-file-upload.min.js"></script>

<!--load app-->
<script src="js/main/app.js"></script>
<script src="upload_files/directives.js"></script> 
<script src="js/main/services/svTodos.js"></script>


<!--select2-->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
<script src="https://angular-ui.github.io/ui-select/dist/select.js"></script>
<link rel="stylesheet" href="https://angular-ui.github.io/ui-select/dist/select.css">
<script src="https://angular-ui.github.io/ui-select/assets/demo.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

</head>
<body class="m-page--boxed m-body--fixed m-header--static m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page">
  <header class="m-grid__item	m-grid m-grid--desktop m-grid--hor-desktop m-header ">
    <div
      class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--hor-desktop m-container m-container--responsive m-container--xxl">
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-header__wrapper">
        <div class="m-grid__item m-brand">
          <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
            <div class="m-stack__item m-stack__item--middle m-brand__logo"> <a href="/" class="m-brand__logo-wrapper">
                <img alt="" src="images/logo.png"> </a></div>
            <div class="m-stack__item m-stack__item--middle m-brand__tools">
             
                <div
                  class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push ng-scope"
                  data-dropdown-toggle="click" aria-expanded="true"> <a href="#"
                    class="dropdown-toggle m-dropdown__toggle btn btn-outline-metal m-btn m-btn--icon m-btn--pill">
                    <span> FPT ATM Guard </span> 
                  
                  </a>
                  <div class="m-dropdown__wrapper"> <span
                      class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav">
                            <li class="m-nav__section m-nav__section--first m--hide"> <span
                                class="m-nav__section-text"> Quick Menu </span></li>
                            <li class="m-nav__item"> <a href="/" class="m-nav__link"> <i
                                  class="m-nav__link-icon flaticon-share"></i> <span class="m-nav__link-text"> 
                                  Dashboard </span> </a></li>
                            <li class="m-nav__item"> <a href="/devices" class="m-nav__link"> <i
                                  class="m-nav__link-icon flaticon-chat-1"></i> <span class="m-nav__link-text"> Devices </span> </a></li>
                            <li class="m-nav__item"> <a href="#" class="m-nav__link"> <i
                                  class="m-nav__link-icon flaticon-info"></i> <span class="m-nav__link-text"> CCTV
                                </span> </a></li>
                            <li class="m-nav__item"> <a href="#" class="m-nav__link"> <i
                                  class="m-nav__link-icon flaticon-lifebuoy"></i> <span class="m-nav__link-text"> Users </span> </a></li>
                                                    <li class="m-nav__item"> <a href="#" class="m-nav__link"> <i
                                  class="m-nav__link-icon flaticon-chat-1"></i> <span class="m-nav__link-text"> Reports </span> </a></li>
                            <li class="m-nav__item"> <a href="#" class="m-nav__link"> <i
                                  class="m-nav__link-icon flaticon-info"></i> <span class="m-nav__link-text"> Addons
                                </span> </a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
             
            </div>
          </div>
        </div>
        <div class="m-grid__item m-grid__item--fluid m-header-head" id="m_header_nav">
          <div id="m_header_topbar" class="m-topbar m-stack m-stack--ver m-stack--general">
            <div class="m-stack__item m-topbar__nav-wrapper">
                <% if (user== null) { %>
              <ul class="m-topbar__nav m-nav m-nav--inline">
               
                <li
                  class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                  > <a href="/login"
                    class="m-nav__link m-dropdown__toggle"><span
                      class="m-topbar__username m--hidden-tablet m--hidden-mobile m--padding-right-15"> <span
                        class="m-link"> Đăng nhập </span> </span></a></li>
              </ul>
              <% } %>
              <% if (user!= null) { %>
              <ul class="m-topbar__nav m-nav m-nav--inline">
                <li
                  class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width"
                  data-dropdown-toggle="click" data-dropdown-persistent="true"> <a href="#"
                    class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon"> <span
                      class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span> <span
                      class="m-nav__link-icon"> <span class="m-nav__link-icon-wrapper"> <i
                          class="flaticon-music-2"></i> </span> </span> </a>
                 
                    <div class="m-dropdown__wrapper ng-scope"> <span
                        class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                      <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center"> <span class="m-dropdown__header-title"> 9
                            Thông báo mới </span> <span class="m-dropdown__header-subtitle"> Dành cho người dùng
                          </span></div>
                        <div class="m-dropdown__body">
                          <div class="m-dropdown__content">
                            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                              <li class="nav-item m-tabs__item"> <a class="nav-link m-tabs__link active"
                                  data-toggle="tab" href="#topbar_notifications_notifications" role="tab"> Thông báo
                                </a></li>
                              <li class="nav-item m-tabs__item"> <a class="nav-link m-tabs__link" data-toggle="tab"
                                  href="#topbar_notifications_events" role="tab"> Nhắc việc</a></li>
                              <li class="nav-item m-tabs__item"> <a class="nav-link m-tabs__link" data-toggle="tab"
                                  href="#topbar_notifications_logs" role="tab"> Lịch sử </a></li>
                            </ul>
                            <div class="tab-content">
                              <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                                <div class="m-scrollable mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar"
                                  data-scrollable="true" data-max-height="250" data-mobile-max-height="200"
                                  style="max-height: 250px; height: 250px; position: relative; overflow: visible;">
                                  <div id="mCSB_1"
                                    class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside"
                                    style="max-height: 250px;" tabindex="0">
                                    <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                                      style="position:relative; top:0; left:0;" dir="ltr">
                                      <div class="m-list-timeline m-list-timeline--skin-light">
                                        <div class="m-list-timeline__items">
                                          <div class="m-list-timeline__item"> <span
                                              class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                                            <span class="m-list-timeline__text"> 12 ATMG được tạo mới </span> <span
                                              class="m-list-timeline__time"> vừa mới </span></div>
                                          <div class="m-list-timeline__item"> <span
                                              class="m-list-timeline__badge"></span> <span
                                              class="m-list-timeline__text"> 5 ATMG chưa được thanh toán <span
                                                class="m-badge m-badge--success m-badge--wide"> pending </span>
                                            </span> <span class="m-list-timeline__time"> 14 mins </span></div>
                                          <div class="m-list-timeline__item"> <span
                                              class="m-list-timeline__badge"></span> <span
                                              class="m-list-timeline__text"> ATMG được tạo gần nhất </span> <span
                                              class="m-list-timeline__time"> 20 mins </span></div>
                                          <div class="m-list-timeline__item"> <span
                                              class="m-list-timeline__badge"></span> <span
                                              class="m-list-timeline__text"> In ATMG chuyển đổi 80% <span
                                                class="m-badge m-badge--info m-badge--wide"> settled </span> </span>
                                            <span class="m-list-timeline__time"> 1 hr </span></div>
                                          <div class="m-list-timeline__item"> <span
                                              class="m-list-timeline__badge"></span> <span
                                              class="m-list-timeline__text"> ATMG cần điều chỉnh - <a href="#"
                                                class="m-link"> Check </a> </span> <span
                                              class="m-list-timeline__time"> 2 hrs </span></div>
                                          <div class="m-list-timeline__item m-list-timeline__item--read"> <span
                                              class="m-list-timeline__badge"></span> <span href=""
                                              class="m-list-timeline__text"> Biên bản điều chỉnh ATMG
                                              <noscript></noscript> <span
                                                class="m-badge m-badge--danger m-badge--wide"> urgent </span> </span>
                                            <span class="m-list-timeline__time"> 7 hrs </span></div>
                                          <div class="m-list-timeline__item"> <span
                                              class="m-list-timeline__badge"></span> <span
                                              class="m-list-timeline__text"> ATMG cần xác thực từ TCT </span> <span
                                              class="m-list-timeline__time"> 5 hrs </span></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div id="mCSB_1_scrollbar_vertical"
                                    class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical"
                                    style="display: none;">
                                    <div class="mCSB_draggerContainer">
                                      <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                                        style="position: absolute; min-height: 50px; top: 0px;">
                                        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                                      </div>
                                      <div class="mCSB_draggerRail"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                <div class="m-scrollable" m-scrollabledata-scrollable="true" data-max-height="250"
                                  data-mobile-max-height="200">
                                  <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items">
                                      <div class="m-list-timeline__item"> <span
                                          class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                        <a href="#" class="m-list-timeline__text"> ATMG tới hạn thanh toán </a>
                                        <span class="m-list-timeline__time"> Vừa mới </span></div>
                                      <div class="m-list-timeline__item"> <span
                                          class="m-list-timeline__badge m-list-timeline__badge--state1-danger"></span>
                                        <a href="#" class="m-list-timeline__text"> ATMG vượt qua công nợ </a> <span
                                          class="m-list-timeline__time"> 20 mins </span></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                                  <div class="m-stack__item m-stack__item--center m-stack__item--middle"> <span
                                      class=""> Chưa có lịch sử <br> được ghi nhận. </span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                </li>
                <li
                  class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"
                  data-dropdown-toggle="click"> <a href="#" class="m-nav__link m-dropdown__toggle"> <span
                      class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span> <span
                      class="m-nav__link-icon"> <span class="m-nav__link-icon-wrapper"> <i class="flaticon-share"></i>
                      </span> </span> </a>
               
                    <div class="m-dropdown__wrapper ng-scope"> <span
                        class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                      <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center"> <span class="m-dropdown__header-title"> Cấu
                            hình hệ thống </span></div>
                        <div class="m-dropdown__body m-dropdown__body--paddingless">
                          <div class="m-dropdown__content">
                            <div class="m-scrollable" data-scrollable="false" data-max-height="380"
                              data-mobile-max-height="200">
                              <div class="m-nav-grid m-nav-grid--skin-light">
                                <div class="m-nav-grid__row"> <a href="#" class="m-nav-grid__item"> <i
                                      class="m-nav-grid__icon flaticon-file"></i> <span class="m-nav-grid__text"> Tạo
                                      mới ATMG </span> </a> <a href="#" class="m-nav-grid__item"> <i
                                      class="m-nav-grid__icon flaticon-time"></i> <span class="m-nav-grid__text"> Quản lý ATMG </span> </a></div>
                                <div class="m-nav-grid__row"> <a href="#" class="m-nav-grid__item"> <i
                                      class="m-nav-grid__icon flaticon-folder"></i> <span class="m-nav-grid__text">
                                      Tra cứu ATMG </span> </a> <a href="#" class="m-nav-grid__item"> <i
                                      class="m-nav-grid__icon flaticon-clipboard"></i> <span class="m-nav-grid__text">
                                      Quản lý sự kiện </span> </a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                
                </li>
                <li
                  class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                  data-dropdown-toggle="click"> <a href="#" class="m-nav__link m-dropdown__toggle"> <span
                      class="m-topbar__welcome m--hidden-tablet m--hidden-mobile"> Xin chào,&nbsp; </span> <span
                      class="m-topbar__username m--hidden-tablet m--hidden-mobile m--padding-right-15"> <span
                        class="m-link ng-binding" style="text-transform: capitalize;"> <%= username %> </span> </span> <span
                      class="m-topbar__userpic"> <img src="images/user1.jpg"
                        class="m--img-rounded m--marginless m--img-centered" alt=""> </span> </a>
                 
                    <div class="m-dropdown__wrapper ng-scope"> <span
                        class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                      <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center">
                          <div class="m-card-user m-card-user--skin-dark">
                            <div class="m-card-user__pic"> <img src="images/user1.jpg"
                                class="m--img-rounded m--marginless" alt=""></div>
                            <div class="m-card-user__details"> <span
                                class="m-card-user__name m--font-weight-500 ng-binding"
                                style="text-transform: capitalize;"> <%= username %> </span>
                                <a href="#"
                                class="m-card-user__email m--font-weight-300 m-link ng-binding"
                                style="text-transform: uppercase;">RDP TEAM </a>
                                <a href="#"
                                class="m-card-user__email m--font-weight-300 m-link ng-binding"
                                style="text-transform: uppercase;">FTP INFORMATION SYSTEM </a></div>
                          </div>
                        </div>
                        <div class="m-dropdown__body">
                          <div class="m-dropdown__content">
                            <ul class="m-nav m-nav--skin-light">
                              <li class="m-nav__section m--hide"> <span class="m-nav__section-text"> Section </span>
                              </li>
                              <li class="m-nav__item"> <a href="#" class="m-nav__link"> <i
                                    class="m-nav__link-icon flaticon-profile-1"></i> <span class="m-nav__link-title">
                                    <span class="m-nav__link-wrap"> <span class="m-nav__link-text"> Tài khoản </span>
                                      <span class="m-nav__link-badge"> <span class="m-badge m-badge--success"> 2
                                        </span> </span> </span> </span> </a></li>
                              <li class="m-nav__item"> <a href="#" class="m-nav__link"> <i
                                    class="m-nav__link-icon flaticon-share"></i> <span class="m-nav__link-text"> Hoạt
                                    động </span> </a></li>
                              <li class="m-nav__item"> <a href="#" class="m-nav__link"> <i
                                    class="m-nav__link-icon flaticon-chat-1"></i> <span class="m-nav__link-text"> Tin
                                    nhắn </span> </a></li>
                              <li class="m-nav__separator m-nav__separator--fit"></li>
                              <li class="m-nav__item"> <a href="#" class="m-nav__link"> <i
                                    class="m-nav__link-icon flaticon-info"></i> <span class="m-nav__link-text"> Hướng
                                    dẫn </span> </a></li>
                              <li class="m-nav__item"> <a href="#" class="m-nav__link"> <i
                                    class="m-nav__link-icon flaticon-lifebuoy"></i> <span class="m-nav__link-text"> Hỗ
                                    trợ </span> </a></li>
                              <li class="m-nav__separator m-nav__separator--fit"></li>
                              <li class="m-nav__item ng-scope"> <a href="/logout"
                                  class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                  Đăng xuất </a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                </li>
              </ul>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div
    class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
     
        <div class="m-grid__item m-body__nav ng-scope">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--middle m-stack__item--fluid"> <button
                class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-light "
                id="m_aside_header_menu_mobile_close_btn"> <i class="la la-close"></i> </button>
              <div id="m_header_menu"
                class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                <ul class="m-menu__nav m-menu__nav--submenu-arrow">
                  <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" aria-haspopup="true"> <a href="/"
                      class="m-menu__link m-menu__toggle"><span class="m-menu__link-text"> Dashboard </span></a></li>
                  <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" aria-haspopup="true"> <a href="/devices"
                      class="m-menu__link m-menu__toggle"><span class="m-menu__link-text"> Devices </span></a></li>
                      <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" aria-haspopup="true"> <a href="#"
                        class="m-menu__link m-menu__toggle"><span class="m-menu__link-text"> CCTV </span></a></li>
                        <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" aria-haspopup="true"> <a href="#"
                          class="m-menu__link m-menu__toggle"><span class="m-menu__link-text"> Users </span></a></li>
                          <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" aria-haspopup="true"> <a href="#"
                            class="m-menu__link m-menu__toggle"><span class="m-menu__link-text"> Reports </span></a></li>
              
                  <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" aria-haspopup="true"> <a href="#"
                      class="m-menu__link m-menu__toggle"><span class="m-menu__link-text"> Addons </span></a></li>
                 
                </ul>
              </div>
            </div>
            <div
              class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-"
              id="m_quicksearch" data-search-type="default">
              <form class="m-header-search__form ng-pristine ng-valid">
                <div class="m-header-search__wrapper"> <span class="m-header-search__icon-search"
                    id="m_quicksearch_search"> <i class="la la-search"></i> </span> <span
                    class="m-header-search__input-wrapper"> <input autocomplete="off" type="text" name="q"
                      class="m-header-search__input" value="" placeholder="Tìm kiếm..." id="m_quicksearch_input">
                  </span> <span class="m-header-search__icon-close" id="m_quicksearch_close"> <i
                      class="la la-remove"></i> </span> <span class="m-header-search__icon-cancel"
                    id="m_quicksearch_cancel"> <i class="la la-times"></i> </span></div>
              </form>
              <div class="m-dropdown__wrapper">
                <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div
                      class="m-dropdown__scrollable m-scrollable mCustomScrollbar _mCS_3 mCS-autoHide mCS_no_scrollbar"
                      data-scrollable="true" data-max-height="300" data-mobile-max-height="200"
                      style="max-height: 300px; height: 300px; position: relative; overflow: visible;">
                      <div id="mCSB_3" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside"
                        tabindex="0" style="max-height: 300px;">
                        <div id="mCSB_3_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                          style="position:relative; top:0; left:0;" dir="ltr">
                          <div class="m-dropdown__content m-list-search m-list-search--skin-light"
                            style="color: #000"></div>
                        </div>
                      </div>
                      <div id="mCSB_3_scrollbar_vertical"
                        class="mCSB_scrollTools mCSB_3_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical"
                        style="display: none;">
                        <div class="mCSB_draggerContainer">
                          <div id="mCSB_3_dragger_vertical" class="mCSB_dragger"
                            style="position: absolute; min-height: 50px; top: 0px;">
                            <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                          </div>
                          <div class="mCSB_draggerRail"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
