body {
	color: #444444;
	background-image: url(../images/blur-bg.jpg);
	font: 13px/13px Roboto, sans-serif;
}

/*nút chuông*/
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon .m-nav__link-icon-wrapper>i {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	font-size: 1.6rem;
	color: #ff661e;
}

a {
	color: #209e91;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__user-profile>.m-nav__link .m-topbar__username .m-link {
	color: #209e91;
}

.m-footer .m-footer__copyright {
	font-size: 1rem;
	font-weight: 300;
	color: #444444;
}

.m-footer .m-footer__nav>.m-nav__item>.m-nav__link .m-nav__link-text {
	color: #444444;
}

.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text:hover {
	color: #fff;
	text-decoration: underline
}

.red-text {
	color: #f22d4e;
}

.form-control {
	display: block;
	width: 100%;
	padding: .65rem 1.25rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #000;
	background-color: transparent;
	background-image: none;
	background-clip: padding-box;
	background: rgba(22, 104, 178, 0.1);
	border-radius: .25rem;
	border: 1px solid rgba(22, 104, 178, 0.1);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	background: rgba(255, 255, 255, .12);
	color: #000;
}

.m-body {
	background-color: rgba(255, 255, 255, 0.8);
	border: none;
	position: relative;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
}

.m-portlet {
	background-color: rgba(255, 255, 255, 0.1);
	/* background: url(../images/blur-bg-blurred.jpg) fixed;*/
	position: relative;
	/*  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.m-widget14__title {
	color: #fff;
	/*tiêu đề pannel*/
}

.m-portlet .m-portlet__head .m-portlet__head-text {
	color: #444444;
	/*tiêu đề pannel*/
}

.m-widget14__desc {
	color: #fff;
}

.m-widget25 .m-widget25__desc {
	color: #fff;
}

.m-portlet .m-portlet__body {
	color: #444444;
}

.m-widget21 .m-widget21__item .m-widget21__info .m-widget21__title {
	color: #fff;
}

.m-widget21 .m-widget21__item .m-widget21__info .m-widget21__sub {
	color: #fff;
}

.m-widget14__legend-text {
	color: #fff;
}

.m-widget25 .m-widget25--progress .m-widget25__progress .m-widget25__progress-sub {
	color: #fff;
}

.m-widget11 .table thead tr>td {
	color: #fff;
}

.m-widget11 .table tbody>tr .m-widget11__title {
	color: #fff;
}

.m-widget11 .table tbody>tr>td {
	color: #fff;
}

.m-widget4__item .m-widget4__text {
	color: #fff;
}

.m-widget4__item .m-widget4__icon>i {
	color: #fff;
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__text {
	color: #000;
}

.nav.nav-pills .nav-link,
.nav.nav-tabs .nav-link {
	color: #fff;
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
	color: #000;
}

.m-portlet .m-portlet__head .m-portlet__head-icon {
	color: #fff;
}

.m-portlet .m-portlet__head .m-portlet__head-text .m-portlet__head-desc,
.m-portlet .m-portlet__head .m-portlet__head-text small {
	color: #fff;
}

.fc-unthemed th.fc-day-header>a,
.fc-unthemed th.fc-day-header>span {
	color: #fff;
}

.m-subheader .m-subheader__title {
	color: #fff;
	/*chữ dashboard*/
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__user-profile>.m-nav__link .m-topbar__welcome {
	display: table-cell;
	vertical-align: middle;
	font-size: 1rem;
	font-weight: 500;
	color: #209e91;
}

.m-brand .m-brand__tools .m-dropdown .btn {
	padding: .9rem 1.5rem 1rem 1.5rem;
	background: 0 0;
	border-color: rgba(255, 255, 255, .2);
	color: #209e91;
}

.m-body .m-body__nav {
	/*top menu*/
	position: relative;
	z-index: 1;
	-webkit-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-ms-border-top-left-radius: 6px;
	-o-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-ms-border-top-right-radius: 6px;
	-o-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	padding: 0 30px;
	height: 70px;
	background: rgba(22, 104, 178, 0.8);
	-webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .1);
	-moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .1);
	box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .1);
}

.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
	color: #fff;
	/*màu top menu*/
}

.m-subheader .m-subheader__daterange {
	display: inline-block;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	border-radius: 2rem;
	padding: 5px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.8);
	background: url(../images/blur-bg-blurred.jpg) fixed;
}

.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav {
	background-color: rgba(255, 255, 255, 0.95);
	/*màu nền menu sổ xuống*/
	/*background: url(../app/media/img/bg/blur-bg-blurred.jpg) fixed;*/
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	border: none;
}

.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav.m-menu__nav--submenu-arrow>.m-menu__item.m-menu__item--submenu.m-menu__item--hover>.m-menu__submenu .m-menu__arrow {
	color: rgba(255, 255, 255, 0.95);
	/*nút menu sổ xuống top menu*/
}

.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav .m-menu__content .m-menu__heading>.m-menu__link-text {
	color: #6f727d;
	/*color menu sổ xuống*/
}

.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav .m-menu__content .m-menu__inner>.m-menu__item>.m-menu__link .m-menu__link-text {
	color: #6f727d;
	/*color menu sổ xuống*/
}

.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav .m-menu__content .m-menu__inner>.m-menu__item>.m-menu__link .m-menu__link-icon {
	color: #6f727d;
	/*icon menu sổ xuống*/
}

.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav>.m-menu__item>.m-menu__link .m-menu__link-text {
	color: #6f727d;
	/*color menu sổ xuống 2*/
}

.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav>.m-menu__item>.m-menu__link .m-menu__link-icon {
	color: #6f727d;
	/*icon menu sổ xuống 2*/
}

.m-subheader {
	padding: 5px 0 0 0;
}

.row.m-row--col-separator-xl>div {
	border-right: 1px solid rgba(255, 255, 255, .12);
}

.m-portlet .m-portlet__head {
	border-bottom: 1px solid rgba(255, 255, 255, .12);
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
	border: 1px solid rgba(255, 255, 255, .12);
	/*border bảng*/
}

.m-widget25 .m-widget25--progress {
	border-top: .07rem dashed rgba(255, 255, 255, .52);
}

.m-header-search .m-header-search__wrapper {
	border: 1px solid rgba(255, 255, 255, .12);
	/*border tìm kiếm*/
}

.row[class*=m-row--col-separator-]>div {
	border-bottom: 1px solid rgba(255, 255, 255, .12);
}

.m-list-settings .m-list-settings__group .m-list-settings__item {
	table-layout: unset;
	/*chữ phần cấu hình dài ra*/
}

.m-quick-sidebar {
	background-color: rgba(255, 255, 255, 0.975);
	/*background chat*/
}

.m-dropdown .m-dropdown__wrapper .m-dropdown__inner {
	background-color: rgba(255, 255, 255, 0.96);
	/*màu drop menu trắng đổ xuống*/
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow {
	color: #209e91;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__quick-actions.m-topbar__quick-actions--img.m-dropdown--arrow .m-dropdown__arrow {
	color: #209e91;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__notifications.m-topbar__notifications--img.m-dropdown--arrow .m-dropdown__arrow {
	color: #209e91;
}

.m-brand .m-brand__tools .m-dropdown .btn:after {
	color: #209e91;
}

.m-brand .m-brand__tools .m-dropdown .btn:hover {
	background: rgba(32, 158, 145, .33);
	border-color: rgba(32, 158, 145, .33);
	/*màu hover nút dashboard top*/
	color: #fff;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon.m-nav__link-icon--active .m-nav__link-icon-wrapper,
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon:hover .m-nav__link-icon-wrapper {
	background: rgba(32, 158, 145, .33);
	/*màu hover nút thông báo mới*/
}

.m-widget1__item .m-widget1__title {
	color: #fff;
}

.m-widget1__item .m-widget1__desc {
	color: #fff;
}

.m-widget2__item .m-widget2__desc .m-widget2__text {
	color: #fff;
	/*màu hóa đơn chưa xác thực*/
}

.m-widget2__item .m-widget2__desc .m-widget2__user-name .m-widget2__link {
	color: #fff;
}


/*BẢNG GIÁ*/

.m-pricing-table-3 {
	padding: 12px 0 80px 0;
}

.m-pricing-table-3 .m-pricing-table-3__items .m-pricing-table-3__item.m-pricing-table-3__item--focus .m-pricing-table-3__wrapper {
	padding: 0.5rem 0.5rem;
}

.m-pricing-table-3 .m-pricing-table-3__items .m-pricing-table-3__item .m-pricing-table-3__wrapper {
	padding: 0.2rem 0.2rem;
	text-align: center;
}

.m-pricing-table-3 .m-pricing-table-3__items .m-pricing-table-3__item .m-pricing-table-3__wrapper .m-pricing-table-3__title {
	color: #fff;
	/*màu tên gói*/
}

.m-pricing-table-3 .m-pricing-table-3__items .m-pricing-table-3__item .m-pricing-table-3__wrapper .m-pricing-table-3__description {
	color: #fff;
	/*mô tả gói*/
}

.m-pricing-table-3 .m-pricing-table-3__items .m-pricing-table-3__item.m-pricing-table-3__item--focus .m-pricing-table-3__description {
	color: #fff;
	/*mô tả gói hightlight chính giữa*/
}

.m--bg-brand {
	background-color: rgba(32, 158, 145, 0.7);
	border-radius: 15px;
}

.m-pricing-table-3 .m-pricing-table-3__items .m-pricing-table-3__item .m-pricing-table-3__wrapper .m-pricing-table-3__price {
	background-color: rgba(255, 255, 255, 0.95);
	color: #7b7e8a;
}

.m-pricing-table-3 .m-pricing-table-3__items .m-pricing-table-3__item.m-pricing-table-3__item--focus .m-pricing-table-3__price {
	background-color: rgba(255, 0, 0, 0.6);
}

.m-pricing-table-3 .m-pricing-table-3__items .m-pricing-table-3__item.m-pricing-table-3__item--focus .m-pricing-table-3__wrapper {
	-webkit-box-shadow: 0 0px 0px 0px rgba(113, 106, 202, .25);
	-moz-box-shadow: 0 0px 0px 0px rgba(113, 106, 202, .25);
	box-shadow: 0 0px 0px 0px rgba(113, 106, 202, .25);
}


/*END BẢNG GIÁ*/


/*TRANG CHỦ*/

.m-portlet.m-portlet--full-height .m-portlet__body {
	height: auto;
	/*chiều cao của các portlet*/
}

.m-portlet.m-portlet--skin-dark {
	-webkit-box-shadow: 0 0px 0px 0px rgba(113, 106, 202, .55);
	-moz-box-shadow: 0 0px 0px 0px rgba(113, 106, 202, .55);
	box-shadow: 0 0px 0px 0px rgba(113, 106, 202, .55);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.m-widget19 .m-widget19__content .m-widget19__body {
	color: #FFF;
}

.m-widget19 .m-widget19__content .m-widget19__username {
	color: #fff;
}

.m-widget19 .m-widget19__content .m-widget19__time {
	color: #fff;
}

.m-widget19 .m-widget19__content .m-widget19__comment {
	color: #fff;
}

.m-widget19 .m-widget19__content .m-widget19__header .m-widget19__info {
	display: table-cell;
	width: 100%;
	padding-left: 0rem;
	font-size: 1rem;
	vertical-align: middle;
	line-height: 0;
}

.alert.m-alert--outline.alert-success {
	background-color: rgba(255, 255, 255, 0.7);
	border: 0px;
	color: #107d67;
	font-weight: 400;
}

.fc-unthemed .fc-event .fc-title,
.fc-unthemed .fc-event-dot .fc-title {
	font-size: 1rem;
	/*font chữ cột trái*/
	font-weight: 400;
}

.fc-unthemed .fc-event,
.fc-unthemed .fc-event-dot {
	background: rgba(255, 255, 255, 0.3);
	/*màu nền từng ô tính năng chữ bên trái*/
	border: 0px solid #ebedf2;
	-webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
	-moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
	box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
}

.btn-accent {
	color: #fff;
	background-color: #209e91;
	border-color: #209e91;
}


/*END TRANG CHỦ*/


/*GIỚI THIỆU*/

.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item .m-pricing-table-1__subtitle {
	color: #6f727d;
}

.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item .m-pricing-table-1__subtitle {
	font-size: 20px;
}

.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item .m-pricing-table-1__visual {
	margin-top: 90px;
	position: relative;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.m-pricing-table-1 .m-pricing-table-1__items {
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	z-index: 1;
	text-align: center;
	padding: 30px 0 30px 0;
	border-radius: 4px;
}

.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item:nth-child(1) .m-pricing-table-1__price {
	font-size: 30px;
	margin-bottom: 8px;
	margin-top: 240px;
}

.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item .m-pricing-table-1__price {
	font-size: 42px;
	font-weight: 600;
	display: block;
	margin-top: 240px;
}


/*END GIỚI THIỆU*/


/*my custome 1*/

.im-caret {
	-webkit-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from,
	to {
		border-right-color: black;
	}
	50% {
		border-right-color: transparent;
	}
}

@-webkit-keyframes blink {
	from,
	to {
		border-right-color: black;
	}
	50% {
		border-right-color: transparent;
	}
}

.im-static {
	color: grey;
}

/*my custome 2*/

.m-brand .m-brand__tools .m-dropdown .btn>span {
	padding-right: 0rem;
}

.btn.dropdown-toggle:after,
.nav-link.dropdown-toggle:after {
	content: "";
}

.m-body--fixed .m-body .m-body__content {
	height: auto;
}

.m-widget14__chart .m-widget14__stat {
	color: yellow;
	/*lucky number*/
}

.feature {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.3rem;
	font-weight: 500;
	font-family: Roboto;
	line-height: 84px;
}

.m-widget25 .m-widget25--progress {
	display: table;
	/*moi ban be*/
	width: 100%;
	margin: 0px auto 0;
	padding-top: 0px;
}

.m-widget25 .m-widget25--progress {
	border-top: .07rem dashed rgba(255, 255, 255, 0);
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text .m-portlet__head-desc {
	font-size: 1rem;
}

.m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
	font-size: 13px;
	/*font chữ ở menu*/
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__user-profile>.m-nav__link .m-topbar__username {
	/*font chữ ở đăng nhập và username sau đăng nhập*/
	font-size: 13px;
	font-weight: 300;
}


/*DEVICES*/

.alert-info:not(.m-alert--outline) {
	line-height: 24px;
	background-color: rgba(83, 176, 248, 0.2);
	border-color: rgba(83, 176, 248, 0.4);
	color: #444444;
}

.btn-success:hover {
	background-color: rgba(19, 77, 217, 1);
}

.black-muted-bg {
	background: url(../images/blur-bg-blurred.jpg) center;
	color: #fff;
}

.table th {
	font-weight: 300;
	font-size: 13px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	font-weight: 300;
	font-size: 13px;
}

.table>tbody>tr:hover {
	background: rgba(52, 191, 163, 0.1);
}

.Invoice {
	width: 100%;
	margin: auto;
	color: #000;
	background: #fff;
	border-radius: 4px;
	padding: 10px;
}

.Header {
	width: 100%;
}

.Logo_img {
	width: 10%;
	float: left;
	text-align: center
}

.Company_name {
	width: 30%;
	float: left;
	text-align: left;
}

.Invoice_name {
	width: 40%;
	float: left;
	text-align: center;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline-block;
}

.Invoice_info {
	width: 30%;
	float: left;
	text-align: right;
}

.Content {
	width: 100%;
}

.Signname {
	width: 100%;
}

.Sign {
	width: 50%;
	text-align: center;
	height: 300px;
	float: left;
}


/*UPLOAD*/

.my-drop-zone {
	border: dotted 3px lightgray;
	color: #000;
}

.well {
	padding: 0px;
	margin-bottom: 0px;
	width: 150px;
	height: 90px
}


/*SELECT 2*/

.select2>.select2-choice.ui-select-match {
	height: 29px;
}

.selectize-control>.selectize-dropdown {
	top: 36px;
}

.select-box {
	position: relative;
	z-index: 1;
}

.alert-info.positioned {
	margin-top: 1em;
	position: relative;
	z-index: 10000;

}

.select2-container .select2-choice {
	background-color: rgba(255, 255, 255, 0.7);
	line-height: 34px;
}

.select2>.select2-choice.ui-select-match {
	height: 34px;
}