<div class="row align-items-center justify-content-center">
    <div class="col-sm-4 col-sm-offset-2">


            <ul class="pagination" ng-if="1 < pages.length">
                    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
                        <a href="" ng-click="setCurrent(1)">&laquo;</a>
                    </li>
                    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
                        <a href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
                    </li>
                    <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
                        <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
                    </li>
                
                    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
                        <a href="" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
                    </li>
                    <li ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
                        <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
                    </li>
                </ul>
    </div>
</div>


